.popup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 470px;
  width: 80%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.popup-modal-content h2 {
  margin-bottom: 20px;
}

.modal-language-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modal-language-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.modal-language-button:hover {
  background-color: #e1e1e1;
  color: #000000;
}

@media screen and (max-width: 575px) {
  .modal-language-buttons {
    display: grid;
  }

  .modal-language-button {
    flex-direction: column;
  }
};