.loading-user-d-main {
  text-align: center;
  color: #6b7280;
}

.user-d-main {
  padding: 6px;
}

.user-d-main-h1 {
  font-size: 1.5rem; 
  font-weight: 600;
  margin-bottom: 1rem; 
}

.user-d-main-p {
  color: rgb(43, 43, 43);
}

.user-stats {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.user-stats > * + * {
  margin-top: 1rem;
}

.user-stats-more {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem; 
}

.payment-stats {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 20px auto;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.payment-stats h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

.payment-stats p {
  font-size: 28px;
  font-weight: bold;
  color: #4CAF50;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.payment-stats:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.payment-stats p {
  color: #4CAF50; 
}

@media (min-width: 768px) {
  .user-stats-more {
    grid-template-columns: repeat(2, 1fr); 
  }

  .payment-stats {
    padding: 15px;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .user-stats-more {
    grid-template-columns: repeat(3, 1fr);
  }
}
