@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.faq {
  display: flex;
  flex-direction: column;
  background: rgb(218, 213, 213);
}

.faq-image {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../assets/third.jpg') no-repeat center;
  background-size: cover;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-text-overlay {
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-family: 'Lora', serif;
}

.faq-text-overlay h2 {
  font-size: 3rem;
  font-family: 'Lora', serif;
  font-weight: 500;
  margin-top: 20px;
  color: white;
}

.faq-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.faq-item {
  background: white;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-question {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  border: none;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  background: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'Lora', serif;
  line-height: 1.5;
  color: #333;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.faq-answer.open {
  max-height: 300px;
  padding: 15px;
}

@media screen and (max-width: 1000px) {
  .faq-image {
    width: 100%;
    min-height: 300px;
  }
}
