@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.footer {
  max-width: 1400px;
  margin: auto;
  padding: 5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-more h4 {
  margin-bottom: 15px;
  font-family: 'Lora', serif;
  font-size: 150%;
}

.footer-more p {
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: 'Lora', serif;
  color: #64748b;
}

.footer-more p span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #000000;
}

.footer-more a {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #64748b;
}

.footer-more a:hover {
  color: #000000;
}

.footer-other h4 {
  margin-bottom: 15px;
  font-family: 'Lora', serif;
  font-size: 150%;
}

.footer-other p {
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: 'Lora', serif;
  color: #64748b;
}

.footer-other p span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #000000;
}

.footer-other a {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #64748b;
}

.footer-other a:hover {
  color: #000000;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.instagram a img {
  height: 100px;
  cursor: pointer;
}

.footer-bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: #64748b;
  border-top: 2px solid #f8fafc;
}

@media screen and (max-width: 1400px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .instagram {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .instagram img {
    height: 175px;
  }
}